.tab-wrapper {
  position: relative;
  display: block;
}

.tab-block {
  position: relative;
  width: 100%;
  max-width: 1390px;
  perspective: 1500px;
  min-height: 602px;
  height: 100%;
}

.tab-slide {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  border-radius: 12px;
  overflow: hidden;
  backface-visibility: hidden; 
  transform-style: preserve-3d;
}

@media (max-width: 640px) {
  .tab-block {
    width: 100%;
    max-width: 84%;
    min-height: 340px;
  }
  .tab-slide {
    height: 340px;
  }
}
@media (min-width: 640px) and (max-width: 767px) {
  .tab-block {
    width: 100%;
    max-width: 580px;
    min-height: 360px;
  }
  .tab-slide {
    height: 360px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .tab-block {
    width: 100%;
    max-width: 700px;
    min-height: 480px;
  }
  .tab-slide {
    height: 480px;
  }
}
@media (min-width: 1024px) and (max-width: 1279px) {
  .tab-block {
    width: 100%;
    max-width: 980px;
    min-height: 510px;
  }
  .tab-slide {
    height: 510px;
  }
}
@media (min-width: 1280px) and (max-width: 1439px) {
  .tab-block {
    width: 100%;
    max-width: 1240px;
    min-height: 550px;
  }
  .tab-slide {height: 550px;}
}
@media (min-width: 1440px) {
  .tab-block {
    width: 100%;
    max-width: 1390px;
  }
}
