@tailwind base;
@tailwind components;
@tailwind utilities;

/* font-family: "Sora", sans-serif; */
@import "keen-slider/keen-slider.min.css";

:root {
  --color-primary-dark: #02030C;
  --color-gray-dark: #2D2D31;
  --color-neutral-dark: #141415;
  --color-light: #FEFEFE;
  --color-gray-light: #B6B6B6;
  --color-gray-medium: #ABACAD;
  --color-accent-dark: #8C70B1;
  --color-accent-light: #BB8BF1;
  --color-muted: #B6B6B6;
}


body {
  @apply font-sora font-normal bg-primary-dark;
  /* @apply font-sora font-normal bg-white; */
}

@keyframes breathing {
  0%, 100% {
    transform: scale(1);
    filter: drop-shadow(0 0 10px rgba(168,85,247,0.6));
  }
  50% {
    transform: scale(1.05);
    filter: drop-shadow(0 0 25px rgba(168,85,247,1));
  }
}

.animate-breathing {
  animation: breathing 1s ease-in-out infinite;
  -webkit-animation: breathing 1s ease-in-out infinite;
}


.custom-container {
  width: 100%;
  max-width: 1440px;
  padding: 0 25px;
  margin: 0 auto;
}

/* animations css */

.animated-title span {display: inline-block;position: relative;overflow: hidden; }
.loadingAnimated-title span {display: inline-block;position: relative;overflow: hidden; }
.blur-title {position: relative;overflow: hidden;}


/* Default custom cursor style */
.custom-cursor {
  position: fixed;
  opacity: 1;
  pointer-events: none;
  mix-blend-mode: difference;
  width: 50px; /* Smaller by default */
  height: 50px;
  border-radius: 50%;
  background-color: white;
  transition: transform 350ms ease;
  transform: translate(-50%, -50%); /* Keep the cursor centered at mouse */
  z-index: 1000;
}


/* Custom cursor style when hovering over links or specific elements */
.custom-cursor--active {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}

/* Optionally, style the cards */
#customCursorCard {
  cursor: none; /* Hide the default cursor */
  position: relative; /* So that the custom cursor can be properly placed */
}

@keyframes borderMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.animate-borderMove {
  background-size: 300% 300%;
  animation: borderMove 5s linear infinite;
  -webkit-animation: borderMove 5s linear infinite;
}



@media (min-width: 1280px) and (max-width:1439px) { 
  .custom-container {
    max-width: 1280px;
  }
}
@media (min-width: 1024px) and (max-width:1279px) {
  .custom-container {
    max-width: 1020px;
  }
}
@media (min-width: 768px) and (max-width:1023px) { 
  .custom-container {
    max-width: 750px;
  }
}

@media (max-width: 767px) {
  .custom-container {padding: 0 15px;}
}

@media (min-width: 640px) and (max-width:767px) { 
  .custom-container {
    max-width: 600px;
  }
}
